.espacamento-botoes {
  flex: 1 1 auto;
}

.botoes-toolbar{
    padding: 20px;
    //background: #FAEBD7;
}

.campo-descricao{
    width: 1000px;
}

.form-container {
  display: block;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  
}
.mat-form-field {
  flex: 1 1 200px; /* Cresce, diminui e tem tamanho base */
}
.form-subcontainer{
  display: flex;
  gap: 16px;
  padding-top: 50px;
}

.mat-snack-bar-container.snackbar-error { background: #d32f2f !important; color: #fff !important; }

